{% extends 'base.html' %} {% block titleBlock %}{{ name }}{% endblock %} {%
block bodyBlock %}
<script>
  function deleteBlog(id) {
    console.log(id);
    fetch(`/blog/${id}`, { method: "DELETE" })
      .then(res => res.json())
      .then(res => {
        if (res) {
          window.location.replace("/");
        } else {
          error_p = document.getElementById("error");
          error_p.innerHTML = "errorrr";
        }
      });
  }
  renderConfirmButton = () => {
    document.getElementById("deleteButton").disabled = true;
    let confirmDeleteButton = document.getElementById("confirmDeleteButton");
    confirmDeleteButton.style.display = "block";
  };
</script>
<div class="card mb-3">
  {%with messages= get_flashed_messages()%} {% if messages %} {%for message in
  messages %}
  {{ message }}
  {%endfor %} {%endif%} {%endwith%}
  <div class="card-header">
    <h3>{{ name }}</h3>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle text-muted">
      Written by <a href="/user/{{ author_id }}">{{ author }}</a>
    </h6>
    {% if edited %}
    <br />
    <h6 class="card-subtitle">
      This blog has been edited since first release
    </h6>
    <hr />
    {% endif %}
    <p class="card-text">{{ content }}</p>
  </div>
  <div class="card-footer">
    {% if editable %}
    <a class="btn btn-warning" href="/blog/{{ blog_id }}/edit">Edit Blog</a>
    <button
      id="deleteButton"
      class="btn btn-danger"
      onclick="renderConfirmButton()"
    >
      Delete Blog</button
    ><button
      style="display: none"
      id="confirmDeleteButton"
      class="btn btn-danger"
      onclick="deleteBlog({{ blog_id }})"
    >
      Confirm Delete
    </button>
    <p id="error"></p>
    {% endif %}
  </div>
</div>
{% endblock %}
