{% extends 'base.html' %}
{% block titleBlock %}Register User{% endblock %}
{% block bodyBlock %}
<h1>Register User</h1>
<form method="POST" action="/register">
        <div class="form-group col-sm-2">
            <input type="text" name="firstname" placeholder="First Name" />
            <input type="text" name="lastname" placeholder="Last Name" />
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password"  placeholder="Password" />
            <input type="password" name="confirm_password" placeholder="Confirm Password" />
            <button class="btn btn-primary" role='submit'>Login</button>
        </div>
</form>
{% endblock %}